<h1>Login In Here</h1>
<form method="post" action="/clients/login">
  <h3>Username: <input type="text" id="uname" name="username">
  <h3>Password: <input type="text" id="pword" name="password">
  <input type="submit" name="submit">
</form>
<h3>New User? <a href="/clients/new">Create Account</a></h3>
