<h1>This is the Client show page for an individual instance of your model.</h1>

<h2>Client Name: <%= @client.name %></h2>
<h2>Client Style: <%= @client.style %></h2>

<!-- <input type="submit" a href= value="Logout"> -->
<a href="/clients/<%= @client.id %>/edit">Edit</a>
<br>
<a href="/clients/logout">Logout</a>
